bin/
obj/
x64/
x86/
Debug/
Release/
*.pdb
*.ilk
*.exe
*.dll
*.lib

.vs/
*.user
*.suo
*.vbx
*.appx
*.vsixmanifest
*.sln.docstates
*.vcxproj0
external/*/bin/
external/*/obj/
build/

*.log
*.tlog
*.lastbuildstate
*.idb
*.cache
*.tmp

*.spv
*.nativecodeanalysis.xml

.DS_Store
Thumbs.db

*.autosave