[Bb]in/
[Oo]bj/
[Aa]rm*/
x64/
x86/
[Dd]ebug/
[Rr]elease/
[Rr]elWithDebInfo/
[Mm]inSizeRel/

*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.exp
*.pdb
*.ilk

out/
build/
.cmake/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
*.ninja
*.cmake

.vs/
*.sln
*.vcxproj*
*.suo
*.db
*.opendb
*.VC.db
*.aps
*.ncb
*.idb
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

*.o
*.obj
*.gch
*.pch
*.d
*.ipch
*.nativecodeanalysis.xml
*.analysis.xml
*.log
*.cache
*.tmp

*.spv
*.autosave
.DS_Store
Thumbs.db

vcpkg_installed/
external/*/bin/
external/*/obj/